# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
galling-bot/

# Log files
*.log

# Data files
/data/

# IDE specific files
.idea/
.vscode/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
